<h2>Question Stats</h2>

<section class="row">
  <section class="col-md-12">

    <p>
      Questions are ranked based on the number of times someone has gotten them correct or incorrect. More correct answers means the question is easier, more incorrect answers means it is harder. Categories are similarly ranked.
    </p>

    <h3>Top 10 Hardest Questions</h3>
    <table class="table table-striped">
      <% Result.hardest_questions.each_with_index do |r, ri| %>
        <tr>
          <td>
            <%= "#{ri + 1}. #{r.question.question}" %>
          </td>
          <td>
            <%= image_tag Pokemon.find_by_name(r.question.solution).photo.photo.url(:thumb) %>
          </td>
        </tr>
      <% end %>
    </table>

    <h3>Top 10 Easiest Questions</h3>
    <table class="table table-striped">
      <% Result.easiest_questions.each_with_index do |r, ri| %>
        <tr>
          <td>
            <%= "#{ri + 1}. #{r.question.question}" %>
          </td>
          <td>
            <%= image_tag Pokemon.find_by_name(r.question.solution).photo.photo.url(:thumb) %>
          </td>
        </tr>
      <% end %>
    </table>

    <h3>Hardest Categories</h3>
    <table class="table table-striped">
      <% Result.hardest_categories.each_with_index do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
        </tr>
      <% end %>
    </table>

    <h3>Easiest Categories</h3>
    <table class="table table-striped">
      <% Result.easiest_categories.each do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
        </tr>
      <% end %>
    </table>

  </section>
</section>

<% @results.each_with_index do |r, ri| %>
  <div class="col-xs-12">
    <h3><%= "#{ri + 1}. #{r.question.question}" %></h3>
    <table class="table">

    </table>
  </div>
<% end %>
