<section class="row">
  <section class="col-md-12">

    <h2>Leaderboard</h2>

    <table class="table table-striped">
      <tr>
        <th>Username</th>
        <th>Number Answered</th>
        <th>Number Correct</th>
        <th>Number Incorrect</th>
        <th>Percent Correct</th>
      </tr>

      <% users.each do |user| %>
        <tr>
          <td><%= link_to user.profile.username, user_path(user) %></td>
          <td><%= user.questions_answered %></td>
          <td><%= user.correct_answers %></td>
          <td><%= user.incorrect_answers %></td>
          <td><%= "#{(100*(user.answer_ratio.round(2))).to_i}%" %></td>
        </tr>
      <% end %>
    </table>

  </section>
</section>
