<!-- Modal -->
<div id="signinform" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">User</h4>
      </div>
      <%= form_for user do |user_fields| %>
        <div class="modal-body">
          <%= user_fields.fields_for :profile do |profile_fields| %>
            <%= profile_fields.label "First Name" %>
            <%= profile_fields.text_field :first_name, class: "form-control" %>

            <%= profile_fields.label "Last Name" %>
            <%= profile_fields.text_field :last_name, class: "form-control" %>

            <%= profile_fields.label "Username" %>
            <%= profile_fields.text_field :username, class: "form-control" %>

            <%= user_fields.label "Email" %>
            <%= user_fields.email_field :email, class: "form-control" %>

            <%= user_fields.label "Password" %>
            <%= user_fields.password_field :password, class: "form-control" %>

            <%= user_fields.label "Password Confirmation" %>
            <%= user_fields.password_field :password_confirmation, class: "form-control" %>

            <%= profile_fields.label "Favorite Pokemon" %>
            <%= profile_fields.collection_select :pokemon_id, Pokemon.all, :id, :name, class: "form-control" %>

            <%= profile_fields.label "Favorite Pokemon Type" %>
            <%= profile_fields.collection_select :pokemon_type_id, PokemonType.all, :id, :name, class: "form-control" %>

            <%= profile_fields.fields_for :photo do |photo_field| %>

              <%= photo_field.label "Choose an Avatar" %>
              <%= photo_field.file_field :photo, class: "form-control" %>

            <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= user_fields.submit "Submit", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
