<%= form_tag '/results', method: :post %>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h2 class="panel-title"> Question </h2>
          </div>

          <div class="panel-body">

            <div class="row">
            <%= question[1] %>
            </div>

          </div>

          <div class="panel-footer">

            <div class="row">
              <% question[3].each do |choice| %>
                  <%= radio_button_tag "result[user_response]", choice %>
                  <%= label_tag choice %>
                  <br>

              <% end %>
            </div>

            <div class="row">
              <%= submit_tag "Submit Answer", class: "btn btn-warning btn-lg" %>
            </div>

          </div>

        </div>
      </div>
    </div>

