<div class="container">
  <div class="row">
    <% @results.each_with_index do |r, ri| %>
      <div class="col-xs-12">
        <h3><%= "#{ri + 1}. #{r.question.question}" %></h3>
        <table class="table">
          <tr>
            <td>
              <%= render partial: 'question_photo', locals: {r: r} %>
              <td>
              <td><strong><%= "[#{r.question.solution}]" %></strong></td>
              <td><%= r.question.option_1 %></td>
              <td><%= r.question.option_2 %></td>
              <td><%= r.question.option_3 %></td>
              <% if r.result == "true" %>
                <td style="color:green">CORRECT</td>
              <% else %>
                <td style="color:red">INCORRECT</td>
              <% end %>
            </tr>
        </table>
      </div>
    <% end %>
    <%= will_paginate @results, :page_links => false %>
  </div>
</div>
