<!DOCTYPE html>
<html>

  <%= render "layouts/shared/head" %>

  <body>

  <%= render "layouts/shared/navbar" %>

  <% flash.each do |type, message| %>
      <div class="alert alert-<%=type%>">
        <div>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= message %></strong>
        </div>
      </div>
  <% end %>

  <main class="container">

    <%= yield %>

  </main>

  </body>
</html>
